/* 订单
----------------------------------------------- */
#order .cart .cartEmpty {
 background-color:#FFFFFF;
 font-size: 14px;
 text-align:center;
 padding:150px 50px;
}
#order .cart .cartCheckout {
 background-color:#DDDDDD;
 width: 100%;
 min-width: 320px;
 margin: 0 auto;
 max-width: 640px;
 height:40px;
 line-height:40px;
 font-size:13px;
}
#order .cart .cartCheckout em {
 float:left;
 margin-left:10px;
 color:#e4393c;
}
#order .cart .cartCheckout .btnCheckout {
 background-color:#e4393c;
 float:right;
 width: 80px;
 color:#FFF;
 text-align:center;
}
/* itemList */
#order .itemList {
 background-color:#FFF;
}
#order .itemList dl {
 zoom:1;
 overflow:hidden;
 background-color:#F8F8F8;
 padding:10px 10px;
 margin-bottom:3px;
}
#order .itemList dl dt {
 width:60px;
 float:left;
 margin-right:10px;
 line-height:38px;
}
#order .itemList dl dd {
 margin-left:70px;
}
#order .itemList dl dd .left {
 float:left;
 width:60%;
 font-weight:bold;
}
#order .itemList dl dd .left .name {
 height:36px;
}
#order .itemList dl dd .right {
 float:right;
 text-align:right;
 color:#888;
}
#order .itemList dl dd .right .del {
 display: inline-block;
 background:url(images/icon_del.png) no-repeat;
 text-indent:-9999px;
 width:19px;
 height:20px;
 text-align:left;
 margin:18px 10px 0 0;
}
/* -- 购物车数量加减 -- */
#order .itemList .number {
 width:80px;
 margin-top:4px;
}
#order .itemList .number input, #order .itemList .number span {
 float:left;
 background:url(images/icon_add_minus.gif) no-repeat;
 cursor:pointer
}
#order .itemList .number input {
 width:35px;
 background:none;
 border:none;
 border-top:1px solid #e8e8e8;
 border-bottom:1px solid #e8e8e8;
 height:18px;
 background:#fff;
 text-align:center;
}
#order .itemList .number span.minus {
 text-indent:-9999px;
 display:block;
 background-position:left 0;
 width:20px;
 height:20px;
}
#order .itemList .number span.plus {
 text-indent:-9999px;
 display:block;
 background-position:-22px 0;
 width:20px;
 height:20px;
}
/* checkout */
#order .checkout .box {
 background-color:#FFF;
 margin-bottom:15px;
}
#order .checkout h2 {
 padding:5px 10px;
 border-bottom: solid #EEE 1px;
 font-size:14px;
 font-weight:bold;
}
#order .checkout h2 .right {
 float:right;
}
#order .checkout .totalAmount {
 font-size: 13px;
 padding: 5px 10px;
 background-color: #FFF;
 margin-bottom:50px;
}
#order .checkout .totalAmount dl {
 zoom:1;
 overflow:hidden;
 padding:3px 0;
}
#order .checkout .totalAmount dt {
 float:left;
 color:#999;
}
#order .checkout .totalAmount dd {
 float:right;
 color:#e4393c;
}
#order .checkout .orderSubmit {
 background-color:#EBEBEB;
 width: 100%;
 min-width: 320px;
 margin: 0 auto;
 max-width: 640px;
 height:40px;
 line-height:40px;
 font-size:13px;
}
#order .checkout .orderSubmit em {
 float:left;
 margin-left:10px;
 color: #F00;
}
#order .checkout .orderSubmit .btnSubmit {
 background-color:#e4393c;
 float:right;
 width: 80px;
 color:#FFF;
 text-align:center;
}
#order .checkout .payment {
 zoom:1;
 overflow:hidden;
 padding:15px 0 0 15px;
}
#order .checkout .payment dd {
 float:left;
 width:170px;
 margin-bottom:15px;
}
#order .checkout .shipping {
 padding-top:15px;
}
#order .checkout .shipping dl {
 zoom:1;
 overflow:hidden;
 padding:0 0 15px 15px;
}
#order .checkout .shipping dt {
 float:left;
 width:120px;
}
#order .checkout .shipping dd {
 margin-left:120px;
}
/* -- complete -- */
#order .complete {
 background-color:#FFF;
 padding:60px 30px;
}
#order .complete dl {
 margin-bottom:30px;
}
#order .complete dl.title {
 font-weight:bold;
 font-size:18px;
}
#order .complete dl.info {
 font-size:14px;
}
#order .complete dl.info dd {
 margin-bottom:3px;
}
#order .complete dl.info b {
 color:red;
 margin-right:3px;
}
#order .complete dl.orderCue {
 color:#999;
}
