/* video_category
----------------------------------------------- */
.videoList {
 font-size: 13px;
 zoom: 1;
 overflow: hidden;
 background-color:#FFF;
}
.videoList dl {
 float: left;
 width: 50%;
}
.videoList dd {
 text-align: center;
 border-right: solid #EEEEEE 1px;
 border-top: solid #EEEEEE 1px;
 padding: 10px;
}
.videoList dd.clearBorder {
 border-right: none;
}
.videoList dd .img {
 margin-bottom: 10px;
}
.videoList dd .name {
 margin-bottom: 6px;
}
.videoList dd .price {
 color: #999999;
}
/* video
----------------------------------------------- */
#video {
 padding: 20px 0;
 background-color:#FFF;
}
#video h1 {
 color: #333333;
 font-size: 18px;
 font-weight: bold;
 text-align:center;
}
#video h2 {
 border-bottom: 1px solid #EEE;
 color:#777;
 font-size:14px;
 margin-bottom:10px;
 padding:0 10px 10px 10px;
}
#video .info {
 padding: 2px 10px 20px 10px;
 color: #999999;
 font-size: 13px;
 text-align:center;
}
#video .video {
 text-align:center;
 margin-bottom:20px;
}
#video .content {
 color: #666666;
 line-height: 180%;
 padding:0 10px;
}
#video .content img {
 max-width:100%;
}
