<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>{$lang.home}{if $ur_index} - {$ur_index}{else}{if $ur_here} - {$ur_here} {/if}{/if}</title>
  <meta name="Copyright" content="Lothar Design." />
  <link href="templates/public.css" rel="stylesheet" type="text/css">
  <link href="templates/rbac/rbac.css" rel="stylesheet" type="text/css">
  {include file="javascript.htm"}
</head>
<body>
  <div id="dcWrap">
    {include file="header.htm"}
    <div id="dcLeft">{include file="menu.htm"}</div>
    <div id="dcMain">
      {include file="ur_here.htm"}
      <div class="mainBox" style="{$workspace.height}">
        {include file="rbac/tab.htm"}
        <!--{if $rec eq 'default'} 分类列表 -->
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
          <tr>
            <th width="120" align="left">编号</th>
            <th align="left">角色标识码</th>
            <th align="left">角色名</th>
            <th align="center">{$lang.handler}</th>
          </tr>
          <!--{foreach from=$roles item=role}-->
          <tr>
            <td align="left">{$role.rid}</td>
            <td>{$role.code}</td>
            <td>{$role.name}</td>
            <td align="center">
              <!-- {if $action_link} -->
              <a href="rbac.php?rec=awr&loid={$role.rid}">分配权限</a> | 
              <a href="rbac.php?rec=op&loid={$role.rid}">{$lang.edit}</a> | 
              <a href="rbac.php?rec=del&loid={$role.rid}">{$lang.del}</a>
              <!-- {/if} -->
            </td>
          </tr>
          <!--{/foreach}-->
        </table>
        <!--{/if}-->

        <!--{if $rec eq 'op'} 分类添加或编辑 -->
        <form action="rbac.php?rec=form" method="post">
          <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
              <td width="80" align="right">角色标识码</td>
              <td>
                <!-- 超管可以不限死，改为选择框 -->
                <input type="text" readonly name="code" value="{if $role.code}{$role.code}{else}{$action_level}{/if}" size="40" class="inpMain" />
              </td>
            </tr>
            <tr>
              <td align="right">角色名</td>
              <td>
                <input type="text" name="name" value="{$role.name}" size="40" class="inpMain" />
              </td>
            </tr>

            <tr>
              <td></td>
              <td>
                <input type="hidden" name="token" value="{$token}" />
                <input type="hidden" name="loid" value="{$role.rid}" />
                <input name="submit" class="btn" type="submit" value="{$lang.btn_submit}" />
              </td>
            </tr>
          </table>
        </form>
        <!--{/if}-->
      </div>
    </div>
    {include file="footer.htm"}
  </div>
</body>
</html>