<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{$lang.home}{if $ur_here} - {$ur_here} {/if}</title>
<meta name="Copyright" content="Douco Design." />
<link href="templates/public.css" rel="stylesheet" type="text/css">
{include file="javascript.htm"}
</head>
<body>
<div id="dcWrap">
 {include file="header.htm"}
 <div id="dcLeft">{include file="menu.htm"}</div>
 <div id="dcMain">
   {include file="ur_here.htm"}
   <div class="mainBox" style="{$workspace.height}">
    <!-- {if $rec eq 'default'} 分类列表 -->
    <h3><a href="{$action_link.href}" class="actionBtn add">{$action_link.text}</a>{$ur_here}</h3>
    <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
        <th width="120" align="left">{$lang.area_id}</th>
        <th align="left">{$lang.area_name}</th>
        <th align="left">{$lang.area_content}</th>
        <th align="center">{$lang.area_time}</th>
        <th width="60" align="center">{$lang.sort}</th>
        <th align="center">{$lang.area_show}</th>
        <th width="80" align="center">{$lang.handler}</th>
     </tr>
    
      <!-- {foreach from=$area item=type} -->
      <tr>
        <td align="left">{$type.id} </td>
        <td>{$type.name}</td>
        <td>{$type.content}</td>
        <td align="center">{$type.addtime}</td>
        <td align="center">{$type.sort}</td>
        <!-- {if $type.is_show eq '1'}  -->
        <td align="center">是</td>
        <!-- {else}  -->
         <td align="center">否</td>
        <!-- {/if} -->
        <td align="center"><a href="area.php?rec=edit&id={$type.id}">{$lang.edit}</a> | <a href="area.php?rec=del&id={$type.id}">{$lang.del}</a></td>
     </tr>
      <!-- {/foreach} -->
    </table>
    <!-- {/if} -->
    <!-- {if $rec eq 'add' || $rec eq 'edit'} 分类添加或编辑 -->
    <h3><a href="{$action_link.href}" class="actionBtn">{$action_link.text}</a>{$ur_here}</h3>
    <form action="area.php?rec={$form_action}" method="post">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      <tr>
       <td width="120" align="right">{$lang.area_name}*</td>
       <td>
        <input type="text" name="cat_name" value="{$cat_info.name}" size="40" class="inpMain" />
       </td>
      </tr>
       <tr>
       <td width="120" align="right">{$lang.area_show}</td>
       <td>
        <!-- {if $cat_info.is_show eq '1'}  -->
        <span style="margin-right: 15px;"><input type="radio" name="show" value="1"  checked="checked"/>是</span>
        <span><input type="radio" name="show" value="0" />否</span>
         <!-- {else}  -->
         <span style="margin-right: 15px;"><input type="radio" name="show" value="1"  />是</span>
        <span><input type="radio" name="show" value="0" checked="checked"/>否</span>
       <!-- {/if} -->
       </td>
      </tr>
      <tr>
       <!-- <td align="right">{$lang.school_type_content}</td>
       <td>
        <input type="text" name="unique_id" value="{$cat_info.unique_id}" size="40" class="inpMain" />
       </td> -->
      </tr>
     <!--  <tr>
       <td align="right">{$lang.keywords}</td>
       <td>
        <input type="text" name="keywords" value="{$cat_info.keywords}" size="40" class="inpMain" />
       </td>
      </tr> -->
      <tr>
       <td align="right">{$lang.area_content}</td>
       <td>
        <textarea name="content" cols="60" rows="4" class="textArea">{$cat_info.content}</textarea>
       </td>
      </tr>
     <td align="right">{$lang.sort}</td>
       <td>
        <input type="text" name="sort" value="{if $cat_info.sort}{$cat_info.sort}{else}20{/if}" size="5" class="inpMain" />
       </td>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="{$token}" />
        <input type="hidden" name="id" value="{$cat_info.id}" />
        <input name="submit" class="btn" type="submit" value="{$lang.btn_submit}" />
       </td>
      </tr>
     </table>
    </form>
    <!-- {/if} -->
   </div>
 </div>
 {include file="footer.htm"}
 </div>
</body>
</html>