<div id="dcHead">
 <div id="head">
  <div class="logo"><a href="index.php" style="font-size: 24px;color:#f5f5f5">&nbsp;&nbsp;升学中心</a></div>
  <div class="nav">
   <ul>
   
    <li><a href="../index.php" target="_blank">{$lang.top_go_site}</a></li>
    <li><a href="index.php?rec=clear_cache">{$lang.clear_cache}</a></li>

    
 
   
   </ul>
   <ul class="navRight">
    <li class="M noLeft"><a href="JavaScript:void(0);">{$lang.top_welcome}{$user.user_name}</a>
     <div class="drop mUser">
      <a href="manager.php?rec=edit&id={$user.user_id}">{$lang.top_manager_edit}</a>
     </div>
    </li>
    <li class="noRight"><a href="login.php?rec=logout">{$lang.top_logout}</a></li>
   </ul>
  </div>
 </div>
</div>
<!-- dcHead 结束 -->